.pincode-container{
    display: flex;
}

.pincode-container .add-pincode{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
}
.add-pincode form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.add-pincode form button{
    padding: 10px;
    background-color: black;
    color: white;
    width: 30%;
    margin-top: 15px;
    border-radius: 4px;

}
.add-pincode .inputs{
    display:flex;
    flex-direction: column;
    width: 70%;
    gap: 6px;
}
.add-pincode input{
    padding: 10px;
}
.pincode-container .pincodes-list{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pincode-list-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pincode-table{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1.4fr 1.4fr 1.4fr 0.5fr;
    padding: 12px 15px;
    border: 1px solid #cacaca
}
.pincode-table p{
    text-align: center;
}